@import "ReUsableElements";

#navigation{
    background-image: url(../assets/nav.jpg);
}
#nav-ul{
    @include displaySizes();
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0px ;
    padding: 15px;
    border-bottom: groove 5px rgb(248, 238, 219);
}

// used the following link for references https://stackoverflow.com/questions/46102586/change-default-color-of-link-from-blue-to-white answered by Chase DeAnda
.class-link{
    color: rgb(56, 48, 6);
    
}

.class-link:hover{
    color: rgb(250, 234, 203)
}