@import "ReUsableElements";
//Navigation bar
#navigation{
    background-image: url(../assets/navigation2.jpg);
}

#nav-ul{
    @include displaySizes();
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0px ;
    padding: 15px;
    border-bottom: $border;
}

// used the following link for references https://stackoverflow.com/questions/46102586/change-default-color-of-link-from-blue-to-white answered by Chase DeAnda
.class-link{
    font-family: merienda;
    font-size: 20px;
    color: rgb(56, 48, 6);
    
}

.class-link:hover{
    color: rgb(250, 234, 203)
}

//Main Page
#main-div-mainPage{
    @include displaySizes();
    @include back-ground-setting();
    flex-flow: column wrap;
    background-image: url(../assets/mainPage.jpg);
}

#h1-mainPage{
    margin-top: 100px;
    font-family: $playball;
    font-size: 65px;
    color:$main-page-text;
}

#quote{
    color:rgb(138, 108, 8);
    font-family: $playball;
    font-size: 55px
}

#quote-autor{
    color:rgb(138, 108, 8);
    margin-top: 150px;
    margin-left: -150px;
    font-family: $playball;
    font-size: 55px;
}
