@import 'ReUsableElements';

#main-div-medical{
   @include displaySizes();
   background-image: url(../assets/medical.png);
   @include back-ground-setting();
}


#search-div{
   @include displaySizes();
   flex-direction: column;
   justify-content: center;
   margin-top: -50px;
   padding: 25px;
}

// Search results

#p-word-name-medical{
font-size: 45px;
font-family:$barkshire;
color:$text-color;

}
#p-gram-func-med{
margin-top: -30px;
font-family:$barkshire;
font-weight: lighter;
color:$text-color;
font-size:35px;
}
#def-medical{
   margin-top: -20px;
   font-family:$barkshire;
   font-weight: lighter;
   color:$text-color;
   font-size:35px;
}
.class-definitions-med{
   font-family:$oleo;
  font-weight: lighter;
  color:$text-color;
   font-size:25px;
}