@mixin displaySizes(){
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: flex-start;
   
}

@mixin back-ground-setting(){
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    width: auto;
    height:800px;
}

$border:ridge 4px #E8C89F;