//Elements in this stylesheet are used in different styles within the program

//Mixins
@mixin displaySizes(){
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}

@mixin back-ground-setting(){
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top: 150; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

@mixin syn-ant-def-regular(){
    font-family: $courgette;
    font-size: 20px;
    margin-top:-10px;
    font-weight: lighter;
}

@mixin def-syn-anton-name(){
    font-size: 25px;
    font-family:$playball ;
}

// Fonts:
$girassol:'Girassol', cursive;
$satusfy:'Satisfy', cursive;
$courgette: 'Courgette', cursive;
$lobster-two: 'Lobster Two', cursive;
$merienda: 'Merienda', cursive;
$oleo: 'Oleo Script', cursive;
$playball: 'Playball', cursive;
$barkshire: 'Berkshire Swash', cursive;
$niconne: 'Niconne', cursive;

// Colors and borders
$main-page-text: rgb(58, 37, 11);
$border:ridge 4px #E8C89F;
$text-color:rgb(56, 37, 26);