@mixin displaySizes(){
    display:flex;
    flex-wrap:wrap;
   
}

@mixin back-ground-setting(){
    background-repeat: no-repeat;
    background-size: 1500px 750px;
    width: auto;
    height:715px;
}