@import "ReUsableElements";
// this .scss file will include styling for shared elements in MedicalDictionary.js, RegularDictionary.js
//SearchForMedical.js and SearchForRegular.js

.form-dictionaries{
    padding: 70px;
    margin-top: -100px;
}

.input-search-dictionaries{
    width: 250px;
    height: auto;
    font-size: 25px;
    background-image: url("../assets/buttons.jpg");
    font-family: $playball;
    color:rgb(251, 243, 214);
}

.form-button-dictionaries{
    @include displaySizes();
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    margin-left: 100px;
    border:$border;
    color:$text-color;
    background-image: url(../assets/backgroundText.png);
    width: 350px;
    height: 250px;
}

.p-form-dictionaries{
    margin-top:100px;
    font-size: 30px;
    color:$text-color;
    font-family: $playball;

}
.clear-text
{
    margin-top: -15px;
    font-size: 20px;
    color:$text-color;
    font-family: $playball;
}

.clear-button-dictionaries{
    margin: 20px;
    background-image: url("../assets/buttons.jpg");

}

.submit-button-dictionaries{
    margin-top: -30px;
    background-image: url("../assets/buttons.jpg");
}

.search-result-dictionaries{
    @include displaySizes();
    margin-top: 30px;
    margin-left: 150px;
    border:$border;
    background-image: url(../assets/backgroundText.png);
    width: 700px;
    height: 670px;
 }

 .p-word-not-found{
    font-family: $lobster-two;
    font-size: 35px;
    color:rgb(114, 19, 19);
 }